@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")


  @font-face
    font-style: normal
    font-family: "PingFang SC"
    src: local("PingFang SC"), url("../lib/pingfang-sc/PingFangSC-Regular.woff2") format("woff2")

@font-face
  font-family: "PingFang SC"
  font-weight: bold
  src: local("PingFang SC"), url("../lib/pingfang-sc/PingFangSC-Semibold.woff2") format("woff2")

@font-face
  font-weight: 300
  font-family: "PingFang SC"
  src: local("PingFang SC"), url("../lib/pingfang-sc/PingFangSC-Light.woff2") format("woff2")

@font-face
  font-weight: 500
  font-family: "PingFang SC"
  src: local("PingFang SC"), url("../lib/pingfang-sc/PingFangSC-Medium.woff2") format("woff2")

@font-face
  font-weight: 100
  font-family: "PingFang SC"
  src: local("PingFang SC"), url("../lib/pingfang-sc/PingFangSC-Light.woff2") format("woff2")
